<div class="main-container-clientes">
    <h2>Estoque Entrada e Saída</h2>
    <div class="barra-superior">
        <label>pesquisar</label>
        <input class="pesquisa" type="text" placeholder="busca..." (input)="search($event)">
        <form (submit)="onSubmit()">
            <label>A partir de:</label>
            <input class="datePicker" type="date" [(ngModel)]="date" name="date">
            <input type="submit" value="Buscar">
        </form>
    </div>
    <app-estoque></app-estoque>
    <button (click)="exportExcel()">Exportar para Excel</button>
    <div style="min-height:250px;">
        <table id="estoque-table" #estoque class="table table-bordered table-striped" style="width:100%; text-align: center;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">NOPERACAO</th>
                    <th scope="col">DESCRICAO</th>
                    <th scope="col">DATA</th>
                    <th scope="col">QUANTIDADE</th>
                    <th scope="col">VALOR</th>
                    <th scope="col">ES</th>
                    <th scope="col">OPERACAO</th>
                    <th scope="col">FILIAL</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of estoqueES">
                        <td>{{cliente.NOPERACAO}}</td>
                        <td>{{cliente.DESCRICAO}}</td>
                        <td>{{cliente.DATA | date: 'dd/M/yyyy'}}</td>
                        <td *ngIf="cliente.ES == 'S   '" style="color: red;">{{cliente.QUANTIDADE}}</td>
                        <td *ngIf="cliente.ES == 'E   '" style="color: blue;">{{cliente.QUANTIDADE}}</td>
                        <td>{{cliente.VALOR}}</td>
                        <td>{{cliente.ES}}</td>
                        <td>{{cliente.OPERACAO}}</td>
                        <td>{{cliente.FILIAL}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="loading$ |async" style="position:absolute; top:300px; left:800px;">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
</div>